* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  overflow-x: hidden;
}
/*HEAD*/
.head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  height: 60px;
  width: 100%;
  padding: 10;
}

p,
.head-text a {
  display: flex;
  gap: 6px;
  text-align: center;
}

.head-text {
  font-size: 18px;
}

p > a {
  color: white;
  font-size: 19px;
  font-weight: bolder;
}

/*HEADER*/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 10px 15px 20px;
  background-color: white;
  border-bottom: 1px solid black;
  height: 13vh;
}

.logo {
    cursor: pointer;
    font-size: 25px;
}

.nav {
    display: flex;
    justify-content: space-between;
align-items: center;
gap: 50px;
}

.nav a {
    color: black;
    text-decoration: none;
    font-size: 23px;
    font-weight: 400;
}

.nav a:hover {
    text-decoration: underline;
    color: black;
}

.icon-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
